.__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 326px;

  &_theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
