@use "../../utils/variables" as *;

@mixin searchbar-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--searchbar);
  border-radius: 16px;
  height: 48px;
  padding-inline: 24px;
  border: solid 1px transparent;
  &:has(> input:focus) {
    border: solid 1px $accent-color;
  }
}

@mixin input-styles {
  & input {
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--searchbar);
    height: 48px;
    color: var(--primary-text);

    &:focus {
      border-radius: 0;
      border-top: solid 1px $accent-color;
      border-bottom: solid 1px $accent-color;
    }
  }
}

@mixin search-icon-styles {
  & img {
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.__search_bar {
  @include searchbar-styles;
  @include input-styles;
  @include search-icon-styles;
}

.__text_error {
  color: $error-color;
}

.__error {
  border: solid 1px $error-color !important;
}

.__input_error {
  border-top: solid 1px $error-color !important;
  border-bottom: solid 1px $error-color !important;
}
