@use "../../utils/variables" as *;

.__synonyms {
  margin-top: 30px;
  & h3 {
    display: inline-block;
    margin-right: 22px;
  }
  & button {
    color: $accent-color;
    cursor: pointer;
    font-weight: bolder;
    font-size: inherit;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
