@use "./fonts" as *;

$primary-color: #fff;
$secondary-color: #050505;
$primary-text-color: #2d2d2d;
$accent-color: #a445ed;
$input-color: #757575;
$error-color: #ff5252;
$divider-color: #e9e9e9;
$searchbar-color: #f4f4f4;

$inconsolata-regular: "Incosolata Regular";
$inconsolata-bold: "Incosolata Bold";
$inter-regular: "Inter Regular";
$inter-bold: "Inter Bold";
$lora-regular: "Lora Regular";
$lora-bold: "Lora Bold";
$lora-bold-italic: "Lora Bold Italic";

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

$breakpoints: (
  "sm": (
    min-width: $mobile,
  ),
  "md": (
    min-width: $tablet,
  ),
  "lg": (
    min-width: $desktop,
  ),
);
